* {
  font-family: "Noto Serif KR", serif;
}

.text-brand {
  color: $primary-color;
}

.site-container {
  position: relative;
  min-width: 1700px;
  min-height: 800px;
  width: 100vw;
  height: 100vh;
  background-color: $background-color;
  border: 10px solid #a0a0a0;
}

.article-container {
  position: absolute;
  top: $brand-container-size;
  left: 0;
  right: 0;
  bottom: 0;
}

#site-article {
  position: absolute;
  top: 0;
  left: $brand-container-size;
  right: 0;
  bottom: 0;
  overflow: auto;
}
