@charset "utf-8";

.site-aside {
  height: 100vh;
}
.site-aside > a,
.site-aside > a:visited {
  display: block;
  font-size: 32px;
  text-align: center;
  padding: 10px 0;
}
.site-aside > a:hover {
  text-decoration: none;
}

.site-aside > #aside-menu {
  list-style: none;
  max-width: 20em;
  margin: auto;
}
.site-aside > #aside-menu > li > a,
.site-aside > #aside-menu > li > a:visited {
  display: block;
  padding: 5px 0;
  padding-left: 0.5em;
  border-radius: 5px;
}
.site-aside > #aside-menu > li > a:hover {
  text-decoration: none;
}
.site-aside > #aside-menu > .group {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 100;
  border-bottom: 1px solid #ccc;
}

#site-content {
  display: block;
  width: 100%;
  height: 100vh;
  border: 0;
}
