@charset "utf-8";

.site-aside > a,
.site-aside > a:visited {
  display: block;
  font-size: 32px;
  text-align: center;
  padding: 10px 0;
}
.site-aside > a:hover {
  text-decoration: none;
}

.site-aside > #aside-menu {
  min-width: 200px;
  margin: auto;
  text-align: center;
}
.group-container {
  display: inline-block;
  width: 280px;
  text-align: justify;
  vertical-align: top;
}
#aside-menu.invisible .group-container {
  height: 0;
}
.group-container a,
.group-container a:visited {
  display: block;
  padding: 5px 0;
  padding-left: 0.5em;
  border-radius: 5px;
}
.group-container a:hover {
  text-decoration: none;
}
.group-container > .group {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 100;
  border-bottom: 1px solid #ccc;
}

#site-content {
  display: block;
  width: 100%;
  height: 100vh;
  border: 0;
}
